.body{ 
    background-color: #b7b7b7;
}
/*
.p{color:    #2c114c; text-align: center;
}
*/

.img1 {
    height: 30px;
    right: 30px;    
}

.img2 {
    height: 25px;
    right: 25px; 
}

.img3 {
    height: 400px;
    border-radius: 50px;
}

.img4 {
    height: 100px;

}

.img5 {
    height: 600px;
    border-radius: 50px;
}

.img6 {
    height: 50px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* alinha os itens dentro da caixa de 500px especificada*/
    justify-content: space-between; 
    background-color: #b7b7b7;
    border-bottom: 5px solid    #1e1f21;
    height: 50px;
}

.caixa {
    display: flex;
    flex-direction:row;
    align-items: center; /* alinha os itens dentro da caixa de 500px especificada*/
    justify-content: space-around; /* espaça entre os itens*/
    background-color: #1e1f21;
    height: 600px;
    
}


.caixa1 {
    background-image: url("indr28.png");
    background-size: cover; /* Ajusta para cobrir toda a área */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.caixa2 {
    display: flex;
    flex-direction:row;
    align-items: center; /* alinha os itens dentro da caixa de 500px especificada*/
    justify-content: space-around; /* espaça entre os itens*/
    height: 800px;
    flex-wrap: wrap;
    background-color: #1e1f21;
    
    
}

.caixa3 {
    display: flex;
    flex-direction:row;
    align-items: center; /* alinha os itens dentro da caixa de 500px especificada*/
    justify-content: space-around; /* espaça entre os itens*/
    background-color: #1e1f21;
    height: 500px;
    flex-direction: column;
    
}

.caixa4 {
    display: flex;
    flex-direction:row;
    align-items: center; /* alinha os itens dentro da caixa de 500px especificada*/
    justify-content: space-around; /* espaça entre os itens*/
    background-color: #000;
    height: 50px;    
}
.caixa5 {
    display: flex;
    height: 450px;
    background-color: #1e1f21;

}

.caixa6 {
    align-items: center;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1e1f21;
}

nav {
    text-align: center;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

nav a{
    color: #2c114c; 
    font-size: 20px;
    padding: 0px 10px 10px 0;
    text-decoration: none;
    position: relative;
    
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #2c114c;
    position:absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}

nav a:hover::after{
    width: 100%;
}


.p1 {
    text-align:justify; 
    font-size: 27px;
    flex-wrap: wrap;
    width: 1100px; /* largura */
    height: 700 px; /*altura */
    color: #b7b7b7;
    
}

h1 {
    text-align: center;
    font-size: 35px;
    width: 1100;
    color: #b7b7b7;
    }
    
.direcao {
    flex-direction: column;
    display: inline-flex;
    text-align: left;
    color: #b7b7b7;
}
    
.borda {
    border-radius: 20px;
    border-bottom: 4px solid #b7b7b7;
}
    
.botao {
    background-color: #b7b7b7;
    border-radius: 20px;
    border-color: #c4c2c2;
}


section.projetos{
    padding: 160px 4%;
}

.projetos{
    align-items: center;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    text-align: center;
    height: 300px;
    background-color: #1e1f21;
    display: flex;
    justify-content:space-around;
}

/*INICIO DO FOMR*/
section.formulario{
    padding: 180px 4%;
}

.formulario{
    align-items: center;
    height: 500px;
    background-color: #1e1f21;
    display: flex;
    justify-content: space-evenly;
    }

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #1e1f21;
    

}

form input, form textarea{
    width: 100%;
    background-color:#56565888;
    border: 0;
    outline: 0;
    padding: 30px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

form textarea{
    resize: none;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    cursor: pointer;
    transition: 0.2s;

}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px;
    transform: scale(1.05);
}

